<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
              integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
              crossorigin="anonymous">

        <title>{% block title %}User search system{% endblock %}</title>
    {% endblock %}
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        {% if userSession|length > 0 %}
                            <p>Hello {{ userSession.name }}!
                            <a href="{{ route.logout }}" class="btn btn-link">Logout</a></p>
                        {% else %}
                            <p><a href="{{ route.signup }}" class="btn btn-success">Sign up</a> or <a href="{{ route.login }}" class="btn btn-default">Sign in</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ message.display }}
                </div>
            </div>

            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
                integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
                crossorigin="anonymous"></script>
    </body>
</html>